.well
{
    background-color:#ccc;
    padding:  20px;
}

#mainNav{
    background-color:gray;
    opacity : 1;
  }

@media only screen and (min-width: 992px){
   #mainNav {    
    background-color:gray;
    opacity : 1;
  } 
}

.navbar{
    background-color:gray;
    opacity : 1;
}

.formlog{
    margin: auto;
    background-color: aquamarine;
}

